@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  box-sizing: border-box;
  background-color: #f2f7f5;
  /* background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%); */
  color: rgb(0, 0, 0);
  padding: 3rem;
  position: relative;
}
.hero-container {
  position: absolute;
  top: 220%;
  left: 20%;
}
